<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CallCenter.Properties.Settings.CallCenterConnectionString"
            connectionString="Data Source=HP_G7\KD;Initial Catalog=CallCenter;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
        <add name="CallCenter.Properties.Settings.TANHOA_WATERConnectionString"
            connectionString="Data Source=SERVER9;Initial Catalog=TANHOA_WATER;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
        <add name="CallCenter.Properties.Settings.HOADON_TAConnectionString"
            connectionString="Data Source=SERVER9;Initial Catalog=HOADON_TA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
        <add name="CallCenter.Properties.Settings.DocSoTHConnectionString"
            connectionString="Data Source=HP_G7\KD;Initial Catalog=DocSoTH;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />     
        <add name="CallCenter.Properties.Settings.CAPNUOCTANHOAConnectionString1"
            connectionString="Data Source=HP_G7\KD;Initial Catalog=CAPNUOCTANHOA;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
        <add name="CallCenter.Properties.Settings.KTKS_DonKHConnectionString"
            connectionString="Data Source=SERVER9;Initial Catalog=KTKS_DonKH;Persist Security Info=True;User ID=sa;Password=123@tanhoa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
